 
 /*home_page*/
    img{
        width: 31%;
    }
    h1{
        font-family:shrikhand;
        text-align: center;
    }
    h2{
        font-family:roboto;
        font-weight: bolder;
    }
    p{
        font-family: roboto;
        font-weight: lighter;
    }
    
    .recherche {
        display: flex;
        justify-content: center;
    }
 

    .btn button{
        width: 218px;
        height: 50px;
        background: linear-gradient(45deg, #9356dc, #ff79da);
        border-radius: 30px;
        border: none;
        filter: drop-shadow(3px 3px 3px grey);
        color: white;
    }






