 
 /*home_page*/
    img{
        width: 31%;
    }
    h1{
        font-family:shrikhand;
        text-align: center;
    }
    h2{
        font-family:roboto;
        font-weight: bolder;
    }
    p{
        font-family: roboto;
        font-weight: lighter;
    }
   





