@import '../utils/variables';
@import '../utils/mixins';

.btn {
    @include center-element; 
    button { 
        width: 218px;
        height: 50px;
        background: linear-gradient(180deg, $pink-color, $violet-color);
        border-radius: 30px;
        border: none;
        filter: drop-shadow(3px 3px 3px grey);
        color: white;
    }
}