@mixin center-element {
  display: flex;
  justify-content: center;
}

@mixin column-element {
  display: flex;
  flex-direction: column;
}


@mixin row-space-between-element {
  display: flex;
  justify-content: space-between;
}

@mixin placeholder-styles {
  &::-webkit-input-placeholder {
    color: black;
    opacity: 1;
  }

  &::-moz-placeholder {
    color: black;
    opacity: 1;
  }

  &::-ms-input-placeholder {
    color: black;
    opacity: 1;
  }
}